html {
  overflow: auto;
}

.active_lang {
    color: #ff0000;
}

#cards-container {
  width: 1000px;
}

.card {
  width: 450px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px #888888;
  margin-top: 10px;
  border: 1px solid #DDD;
}

.card .metadata {
  padding: 10px 10px 10px;
}

.card .logo-container {
  width: 50px;
  min-height: 60px;
  float: left;
  margin-right: 10px;
}

.card .author-title-container {
  display: inline;
}

.card img.logo {
  width: inherit;
  vertical-align: middle;
}

.card img.yt-video-image {
  width: inherit;
  cursor: pointer;
}

.card .title {
  font-size: 20px;
  display: inline;
}

.card .title a {
  text-decoration: none;
  font-weight: normal;
  color: #333;
  cursor: pointer;
}

.card .author {
  font-weight: bold;
  color: #82A8E3;
  font-size: 16px;
}

.video-modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

.video-modal-content {
    margin: auto;
    width: 80%;
    height: 80%;
}

.video-modal-content .close {
    color: #DDD;
    float: right;
    font-size: 28px;
    font-weight: 100;
    text-decoration: none;
    cursor: pointer;
    z-index: 3;
}

.video-modal-content .embedded-video {
  width: 100%;
  height: inherit;
  z-index: 2;
}

