html {
  overflow-y: auto;
  font-size: 14pt;
  color: #777;
}

body {
  margin: 0px !important;
  padding: 0px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #F2F2F2;
}

a {
  text-decoration: none;
}

#navigation {
    float: left;
    margin: 20px 0px 0px 20px;
}

#navigation-rtl {
    float: right;
    margin: 20px 20px 0px 0px;
}

.nav-label {
    float: left;
    margin-right: 30px;
    padding-left: 10px;
}
.nav-label.active {
    border-bottom: 5px solid #673AB7;
    padding-bottom: 20px;
}
.nav-label:hover {
    cursor: pointer;
    color: #333;
}

.nav-label > .text {
    padding-right: 4px;
}

#navigation .home-label {
    font-size: 1.2em;
    margin-top: -2px;
}
#navigation .home-label img {
    width: 13px;
    margin-right: 8px;
}

#orgs_label #orgs_uparrow {
    display: none;
}

#categories_label #categories_uparrow {
    display: none;
}

#languages {
  float: right;
  margin: 10px 30px 0px 0px;
  padding: 0px;
}

#languages-rtl {
  float: left;
  margin: 5px 0px 0px 30px;
  padding: 0px;
}

.lang {
  float: left;
  padding: 15px 0px 11px;
  width: 90px;
  text-align: center;
}

.lang:hover {
    cursor: pointer;
    color: #333;
}

.active_lang {
  border-bottom: 5px solid #673AB7;
}

.drawer {
    background-color: white;
    padding-left: 30px;
    box-shadow: 0 7px 10px -4px #aaaaaa;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}
.drawer .drawer-item {
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}
.drawer .drawer-item.active {
    border: 5px solid #673AB7;
    border-bottom: 1px solid #673AB7;
}
.drawer .drawer-item > img {
    width: 100%;
    height: 90%;
}
.drawer .drawer-item > .titleBox {
    width: 100%;
    padding: 5px 13px 10px;
    bottom: 0px;
    background-color: black;
    position: absolute;
    opacity: 0.7;
    color: white;
    box-sizing: border-box;
    text-align: center;
}

#orgs_drawer {
    display: none;
}
#orgs_drawer > .org {
    width: 15%;
    margin-right: 10px;
}

#categories_drawer {
    display: none;
}
#categories_drawer > .category {
    width: 15%;
}

#main_navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  box-shadow: 0 7px 10px -4px #aaaaaa;
  z-index: 3;
  background-color: white;
}

#main_content {
  padding-top: 100px;
  z-index: 1;
  width: 930px;
  margin: 0 auto;
}

.category-title {
  font-size: 12pt;
}

.card-sizer {
  width: 450px;
}

.card {
  width: 450px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px #888888;
  margin-top: 20px;
  border: 1px solid #DDD;
  border-right: none;
  border-radius: 4px;
  overflow: hidden;
}

.fullwidth {
  width: 920px;
}

img.yt-video-image {
  width: inherit;
  cursor: pointer;
}

.yt-video-image-container {
  display: flex;
  align-items: center;
  height: 240px;
  overflow: hidden;
  width: inherit;
}

.yt-video-image-container.first {
  height: 450px;
}

.metadata {
  padding: 15px 15px 15px;
  background-color: #FFF;
  margin-top: -4px;
}

.metadata .logo-container {
  width: 40px;
  min-height: 54px;
  float: left;
  margin-right: 15px;
}

.metadata .author-title-container {
  display: inline;
}

.metadata img.logo {
  width: inherit;
  vertical-align: middle;
}

.metadata .title {
  font-size: 12pt;
  display: inline;
}

.metadata .title a {
  text-decoration: none;
  font-weight: normal;
  color: #555;
  cursor: pointer;
}

.metadata .author {
  font-weight: 100;
  font-size: 10pt;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.metadata .author a {
  color: #82A8E3;
}

.video-modal {
    display: none; 
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}

.video-modal-content {
    margin: auto;
    width: 80%;
    height: 80%;
}

.video-modal-content .close {
    color: #DDD;
    float: right;
    font-size: 28px;
    font-weight: 100;
    text-decoration: none;
    cursor: pointer;
    z-index: 12;
}

#embedded-video {
  width: 100%;
  height: inherit;
  z-index: 11;
}

.box {
   float: left;
   position: relative;
   width: 25%;
   padding-bottom: 20%;
}

.boxInner {
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0x;
   bottom: 0px;
   overflow: hidden;
}

.boxInner img {
   width: 100%;
}

.boxInner .titleBox {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: -50px;
   background: #000;
   background: rgba(0, 0, 0, 0.5);
   color: #FFF;
   padding: 8px;
   text-align: center;
   word-wrap: break-word;
}
